<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804711310074-f3q0a0p4q0497a60n3qsfgcj227s0rnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804711310074-f3q0a0p4q0497a60n3qsfgcj227s0rnc</string>
	<key>API_KEY</key>
	<string>AIzaSyDBwAtREp3z1vSi7GmMEZxyG5qE6s2vkJY</string>
	<key>GCM_SENDER_ID</key>
	<string>804711310074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bLending.bLending</string>
	<key>PROJECT_ID</key>
	<string>blending-d61b0</string>
	<key>STORAGE_BUCKET</key>
	<string>blending-d61b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804711310074:ios:e23eb5b9d0fe942b281f43</string>
</dict>
</plist>